* {
    align-items: center;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

.footer {
    color: #fff;
    margin-top: 50px;
    font-size: small
}

a:any-link {
    color: #39adad;
    text-decoration: none
}

a:any-link:hover {
    text-decoration: underline
}

body {
    background-color: #151515
}

.label {
    font-size: large;
    color: #fff;
    margin: 5px 0
}

#statusEl {
    font-size: large;
    color: #fff
}

.inputBox {
    padding: 5px 5px;
    margin-bottom: 3px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid #39adad;
    outline: 0;
    width: 200px
}

h1 {
    color: #39adad;
    margin-bottom: 50px
}

#submitButton {
    margin-top: 30px;
    font-size: 15px;
    border: 2px solid #39adad;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s
}

#submitButton:hover {
    border: 2px solid #ae5ab6
}