* {
    align-items: center;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.normalText {
    color: #fff;
    font-size: medium;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

body {
    background-color: #151515;
}

h1 {
    color: #39adad;
    margin-bottom: 50px;
}

#button {
    font-size: 15px;
    border: 2px solid #39adad;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
}

#button:hover {
    border: 2px solid #ae5ab6;
}

.footer {
    color: #fff;
    margin-top: 50px;
    font-size: small;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

body {
    background-color: #151515;
}

.label {
    font-size: large;
    color: #fff;
    margin: 5px 0;
}

#statusEl {
    font-size: large;
    color: #fff;
}

.inputBox {
    padding: 5px 5px;
    margin-bottom: 3px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid #39adad;
    outline: 0;
    width: 200px;
}

h1 {
    color: #39adad;
    margin-bottom: 50px;
}

#submitButton {
    margin-top: 30px;
    font-size: 15px;
    border: 2px solid #39adad;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
}

#submitButton:hover {
    border: 2px solid #ae5ab6;
}

.footer {
    color: #fff;
    margin-top: 50px;
    font-size: small;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

body {
    background-color: #151515;
}

.label {
    font-size: large;
    color: #fff;
    margin: 5px 0;
}

#statusEl {
    font-size: large;
    color: #fff;
}

.inputBox {
    padding: 5px 5px;
    margin-bottom: 3px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid #39adad;
    outline: 0;
    width: 200px;
}

h1 {
    color: #39adad;
    margin-bottom: 50px;
}

#submitButton {
    margin-top: 30px;
    font-size: 15px;
    border: 2px solid #39adad;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
}

#submitButton:hover {
    border: 2px solid #ae5ab6;
}

.footer {
    color: #fff;
    margin-top: 50px;
    font-size: small;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

body {
    background-color: #151515;
}

.label {
    font-size: large;
    color: #fff;
    margin: 5px 0;
}

#statusEl {
    font-size: large;
    color: #fff;
}

.inputBox {
    padding: 5px 5px;
    margin-bottom: 3px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid #39adad;
    outline: 0;
    width: 200px;
}

li {
    list-style: none;
}

#submitButton {
    padding: 3px;
    margin-top: 30px;
    font-size: 15px;
    border: 2px solid #39adad;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
}

#submitButton:hover {
    border: 2px solid #ae5ab6;
}

.myMessage {
    color: white;
    border: 1px solid #151515;
    background-color: #39adad;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    padding: 5px 5px;
}

.notMyMessage {
    color: white;
    border: 1px solid #39adad;
    background-color: #151515;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    padding: 5px 5px;
}

div.parent {
    text-align: center;
}

ul {
    display: inline-block;
}

.text {
    color: white;
    font-size: small;
    text-align: left;
    margin-top: 0px;
}

.signout {
    color: #39adad;
    text-decoration: none;
    font-size: small;
    text-align: left;
    margin-top: 0px;
    cursor: pointer;
}

.signout:hover {
    text-decoration: underline;
}