@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora:wght@600&display=swap');

* {
    align-items: center;
    text-align: center;
    font-family: "Poppins", "Segoe UI";
    cursor: default;
}

#messages {
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.normalText {
    color: #ffffff;
    font-size: medium;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

.button, #submitButton {
    cursor: pointer;
    font-size: 15px;
    border: 2px solid #39adad;
    background-color: #ffffff;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 3px;
    padding-top: 0px;
}

#links-create-channel {
    display: flex;
    justify-content: center;
    gap: 20px
}

.button:hover, #submitButton:hover {
    border: 2px solid #ae5ab6;
}

.footer {
    color: #ffffff;
    margin-top: 50px;
    font-size: small;
}

#statusEl {
    font-size: large;
    color: #ffffff;
}

#codeStatusEl {
    color: #ffffff;
}

body {
    background-color: #151515;
}

h1 {
    color: #39adad;
    margin-bottom: 50px;
    cursor: pointer;
}

.label {
    font-size: large;
    color: #ffffff;
}

.inputBox {
    padding: 3px 5px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid #39adad;
    outline: none;
    background-color: #ffffff;
    width: 200px;
}

li {
    list-style: none;
}

video {
    width: 80%;
}

.myMessage, .notMyMessage, .sendingMessage {
    color: #ffffff;
    border-radius: 5px;
    word-wrap: break-word;
    margin: 5px;
    padding: 3px 5px;
    min-width: 250px;
    max-width: 250px;
}

.myMessage {
    border: 1px solid #151515;
    background-color: #39adad;
}

.notMyMessage {
    border: 1px solid #39adad;
    background-color: #151515;
}

ul {
    display: inline-block;
}

#inputEl {
    margin-top: 20px;
}

.signed-in-as-text {
    color: #ffffff;
    font-size: small;
    text-align: left;
    margin-top: 0px;
}

.signout {
    color: #39adad;
    text-decoration: none;
    font-size: small;
    text-align: left;
    margin-top: 0px;
    cursor: pointer;
}

.signout:hover, #currentChannelName:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#alreadySignedInText {
    margin-top: 70px
}

#currentChannelName {
    font-weight: normal;
    color: #39adad;
}